<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Ravindu Nirmal</h2>
            <h4>ravindu@ultrizoe.io</h4>
        </div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Elon_Musk_Royal_Society.jpg/400px-Elon_Musk_Royal_Society.jpg" alt="Ravindu Nirmal">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/'>Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/myApps'>My Apps</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/articles'>Articles</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/contacts'>
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/contacts'>
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>